@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;700;800;900&display=swap');

.main-tasks-page-container {
    margin-left: 275px;
    padding: 20px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #eee;
}

.tasks-page-titles {
    margin-top: -13px;
}

.tasks-page-titles-main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #FFF733;
    margin-bottom: 4px;
}

.tasks-page-titles-sub-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin-top: 0;
}

.tasks-page {
    display: flex;
    gap: 20px;
    padding-left: 120px;
}

.all-tasks-container {
    background-image: linear-gradient(#0D0C27, #2D2B8D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 82vh;
    width: 45vw;
    border-radius: 10px;
    overflow-y: auto;
}


.tasks-side-container {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.overdue-tasks-container,
.sortbyproject-tasks-container {
    background-image: linear-gradient(#0D0C27, #2D2B8D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 17vw;
    border-radius: 10px;
    overflow: auto;
}

.all-tasks-container::-webkit-scrollbar,
.overdue-tasks-container::-webkit-scrollbar,
.sortbyproject-tasks-container::-webkit-scrollbar {
    width: 5px;
}

.all-tasks-container::-webkit-scrollbar-track,
.overdue-tasks-container::-webkit-scrollbar-track,
.sortbyproject-tasks-container::-webkit-scrollbar-track {
    background-image: linear-gradient(#0D0C27, #2D2B8D);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.all-tasks-container::-webkit-scrollbar-thumb,
.overdue-tasks-container::-webkit-scrollbar-thumb,
.sortbyproject-tasks-container::-webkit-scrollbar-thumb {
    background: rgba(255, 247, 51, 0.3); 
    border-radius: 10px;
}

.all-tasks-container::-webkit-scrollbar-thumb:hover,
.overdue-tasks-container::-webkit-scrollbar-thumb:hover,
.sortbyproject-tasks-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 247, 51, 0.3); 
    opacity: 0.1;  
}


.overdue-tasks-container {
    height: 37vh;
}

.sortbyproject-tasks-container {
    height: 37vh;
}

.all-tasks-container-title {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    align-items: center;
}

.all-tasks-container-title h3 {
    margin: 0;
}

.all-tasks-container-tasks {
    padding: 0 25px;
}

.add-tasks-top-border {
    background-color: rgb(201, 201, 201);
    width: 95%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
}

.add-tasks-top-separator {
    padding-bottom: 20px;
}

.overdue-tasks-container-title {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.overdue-tasks-container-title h3 {
    margin: 0;
}

.overdue-tasks-container-tasks {
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}


.task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.task-item:hover {
    transform: scale(1.01);
}


.overall-task-formatting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}


.individual-task-formatting {
    margin: 0;
    padding: 0;
    flex: 1;
}


.individual-task-formatting h4,
.individual-task-formatting p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.individual-project-formatting {}


.task-project-name {
    margin: 0;
    padding: 0;
    text-align: right;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.task-desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.sortbyproject-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.sortbyproject-title h3 {
    margin: 0;
}

.sortbyproject-clear-filter-button {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 30px;
}

.is-completed-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
    box-sizing: border-box;
}

.is-completed-button:hover {
    background-color: #f0f0f0;
    border-color: #FFF733;
}

.is-completed-button:active {
    background-color: #e0e0e0;
    border-color: #FFF733;
}

.add-task-button {
    margin: 10px 0;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-project-button {
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    width: 50px;
    padding: 2px 2px;
}

.manage-project-button {
    margin: 10px 0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    width: 51px;
    padding: 2px 2px;
    font-size: 23px;
}

.sortbyprojects-buttons-div {
    display: flex;
    gap: 10px;
}

.project-list {
    color: black;
}

.project-sort-buttons-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.all-tasks-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-sort-buttons {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.all-tasks-button:hover,
.project-sort-buttons:hover {
    transform: scale(1.05);
}

.project-sort-buttons.selected,
.all-tasks-button.selected{
    background-image: linear-gradient(#0D0C27, #2D2B8D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    border: 3px solid #FFFFFF;
    color: #FFF733;
}

.individual-project-formatting p {
    margin: 0;
    padding: 0;
}


.task-due-date-formatting {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}