@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700;800;900&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(#0D0C27, #2D2B8D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: #eee;
}

* {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    background-color: #eee;
    color: black;
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 0.3s ease;
    width: max-content;
}

.main-box {
    border-radius: 13px;
    background-color: #EBEBEB;
    width: 500px;
    height: 500px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-signup-titles {
    color: black;
    text-align: center;
  
}

.success-message {
  padding-top:110px;
  font-size: 50px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin-bottom: -20px;
}

.main-signup-titles-h1 {
    font-size: 70px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin-bottom: -20px;
}

.main-signup-titles-h5 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}


input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  width: 100%; 
  box-sizing: border-box; 
  height: 40px; 
}


.main-signup-input input {
  height: 65px; 
  border-radius: 15px;
}


.main-signup-input {
  padding-top: 50px;
  width: 500px; 
}

.email-signup {
  padding-top: 20px;
}

.password-signup {
  padding-top: 20px;
}

.login-link {
  padding-top:7px;
  float: right;
  color: black;
}

.signup-button {
  padding: 30px; 
  font-size: 20px;
  background-image: linear-gradient(#0D0C27, #2D2B8D);
  background-repeat: no-repeat;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  color: #FFF733; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.button-container {
  padding-top: 45px;
  padding-left: 100px;
}

.error-message {
  color: red;
}

button:hover {
  transform: scale(1.05);
}

.note-of-warning-div {
 padding-top: 15px;
}

.note-of-warning {
  color: black;
}


